{% extends 'base.html' %}

{% block title %} 
 Index   
{% endblock title %}

{% block content %} 
<form method="post">
    {% csrf_token %}
    <div>
        <h1 class="text-center"> Welcome to Note app</h1>
    </div>
    
    <div class="form-group">
      <label for="title"> Title </label>
      <input type="text" value= "{{to_do.title}}" name="title" class="form-control" id="title"  placeholder="Enter title">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" value= "{{to_do.description}}" name="description" class="form-control" id="description" placeholder="Enter description">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>       
{% endblock content %}